<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jack's blog</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <link rel="stylesheet" href="/app.css">
</head>
    <body>
        <!-- NAVBAR -->
        <div class="ui menu inverted fixed">
            <div class="ui container">
                <div class="header item">
                    <i class="code icon"></i> Jack's Blog
                </div>
                <a class="item" href="/">
                    Posts
                </a>
                <a class="item" href="/posts/new">
                    New post
                </a>
            </div>
        </div>
        <!-- MAIN CONTAINER -->
        <div class="ui container" id="mainContainer">