#mainContainer {
    margin-top: 5em;
    margin-bottom: 5em;
}

#postsContainer {
    font-size: 1.2em;
}

.post {
    margin-bottom: 5em;
}

i.icon {
    font-size: 2.2em;
}

#deleteBtn {
    display: inline;
}